<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>2019 {Grand Prix} - {Team}</title>
  <link rel="stylesheet" type="text/css" href="../static/docs/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/docs/css/style.css">
  <link href="../static/images/f1-logo-red.ico" rel="shortcut icon" type="image/x-icon" sizes="16x16"/>
  <script src="../static/graphdocs/c3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<script>
    var circuit_name = JSON.parse('{{data | tojson}}');
</script>
<body>


<h1>
  <img src="../static/images/f1-logo-red.png" width="95" height="60" style="width: 5%; float: left"/>
  {Grand Prix} - 2019 Results
  <button type="button" style="float:right" onclick="alert('Back to Map!')">Back to Map</button>
</h1>
<h2>{Team Name} {Team Logo}</h2>

  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <div class="well">
          <h5>Team:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)">
            <option value="Mercedes">Mercedes-Benz</option>
            <option value="Ferrari">Ferrari</option>
            <option value="RedBull">Red Bull Racing</option>
            <option value="Mclaren">McLaren</option>
            <option value="Renault">Renault</option>
            <option value="ToroRosso">Toro Rosso</option>
            <option value="RacingPoint">Racing Point</option>
            <option value="AlfaRomeo">Alfa Romeo</option>
            <option value="Haas">Haas</option>
            <option value="Williams">Williams</option>
          </select>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div id="pie_chart"></div>
        <br>
      </div>
      <div class="col-sm-8" align="center">
        <h5 style="width: 50%; float:left">
          {Driver 1}
        </h5>
        <h5 style="width: 50%; float:right">
         {Driver 2}
        </h5>
        <br>
        <br>
        <br>
        <br>
        <div id="chart" style="width: 50%; float:left">
          This is where the gauge for Driver 1 will go.
       </div>

       <div id="chart2" style="width: 50%; float:right">
          This is where the gauge for Driver 2 will go.
       </div>
        <br>
        <br>
        <br>
        <br>
        <!-- <div id="chart"></div> -->
      </div>
      <div class="col-sm-2" align="left">
        <h5>Top 10 Finishers</h5>
        <table border="1" class="dataframe">
          <thead>
            <tr style="text-align: left;">

              <th>Pos.</th>
              <th>Driver</th>
              <th>Constructor</th>
              <th>Time/Retired</th>

            </tr>
          </thead>
          <tbody>
            <tr>

              <td>1</td>
              <td>Lewis Hamilton</td>
              <td>Mercedes</td>
              <td>1:34:05.715</td>

            </tr>
            <tr>

              <td>2</td>
              <td>Max Verstappen</td>
              <td>Red Bull Racing-Honda</td>
              <td>+16.772</td>

            </tr>
            <tr>

              <td>3</td>
              <td>Charles Leclerc</td>
              <td>Ferrari</td>
              <td>+43.435</td>

            </tr>
            <tr>

              <td>4</td>
              <td>Valtteri Bottas</td>
              <td>Mercedes</td>
              <td>+44.379</td>

            </tr>
            <tr>

              <td>5</td>
              <td>Sebastian Vettel</td>
              <td>Ferrari</td>
              <td>+1:04.357</td>

            </tr>
            <tr>

              <td>6</td>
              <td>Alexander Albon</td>
              <td>Red Bull Racing-Honda</td>
              <td>+1:09.205</td>

            </tr>
            <tr>

              <td>7</td>
              <td>Sergio Pérez</td>
              <td>Racing Point-BWT Mercedes</td>
              <td>+1 lap</td>

            </tr>
            <tr>

              <td>8</td>
              <td>Lando Norris</td>
              <td>McLaren-Renault</td>
              <td>+1 lap</td>

            </tr>
            <tr>

              <td>9</td>
              <td>Daniil Kvyat</td>
              <td>Scuderia Toro Rosso-Honda</td>
              <td>+1 lap</td>

            </tr>
            <tr>

              <td>10</td>
              <td>Carlos Sainz Jr.</td>
              <td>McLaren-Renault</td>
              <td>+1 lap</td>

            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>


  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script type="text/javascript" src="../static/graphdocs/gauge.js"></script>
  <script type="text/javascript" src="../static/docs/js/app.js"></script>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.4/raphael-min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/justgage/1.2.9/justgage.min.js"></script>
<!-- <script type="text/javascript" src="../static/graphdocs/gauge.js"></script> -->
<!--<script src="../static/graphdocs/needle.js" type="text/javascript"></script>-->
<!-- <script src="../static/graphdocs/linechart.js" type="text/javascript"></script> -->
</html>
